*{
  overflow: hidden;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.info-about {
  padding: 1.5em;
  justify-content: center;
  align-items: center;
  background: rgb(78, 78, 78);
  color: aliceblue;
  font-family: "Cinzel", serif;
  border-radius: 2.5em;
  width: 30em;
  margin-top: 5em;
  font-size: 1.5em;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.info-about > h1 {
  text-align: center;
}

.social{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.social > a:hover{
    transform: scale(1.1);
}


